<div>
  <mat-card class="edit-form">
    <h3>Edit</h3>
    <form>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Name" [(ngModel)]="this.user.name" name="inputName" #inputName="ngModel">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="this.user.bornDate" name="inputBornDate" #inputBornDate="ngModel">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <div class="imageUpload">
        <mat-form-field class="example-full-width">
          <input matInput type="url" placeholder="Avatar link" [(ngModel)]="this.user.avatar " name="inputAvatar" #inputAvatar="ngModel">
        </mat-form-field>
        <button mat-raised-button (click)="openDialog('Avatar')" color="accent">Avatar</button>
      </div>

      <div class="imageUpload">
        <mat-form-field class="example-full-width">
          <input matInput type="url" placeholder="Background link" [(ngModel)]="this.user.background " name="inputBackground" #inputBackground="ngModel">
        </mat-form-field>
        <button mat-raised-button (click)="openDialog('Background')" color="accent">Background</button>
      </div>

      <button mat-raised-button (click)="update()" (onkeypress)="onKeyPress($event)" color="accent">Update</button>
    </form>
  </mat-card>
</div>
