.register-form {
  min-width: 150px;
  max-width: 500px;
  margin: 0 0;
}

.example-full-width {
  width: 100%;
}

.imageUpload {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 auto;
}
