<br>
<div>
  <mat-card class="login-form">
    <h3>The Dank Network - Sign In</h3>
    <form>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="User Name" [(ngModel)]="this.userLogin.username" name="inputUserName">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput type="password" placeholder="Password" [(ngModel)]="this.userLogin.password" name="inputPassword">
      </mat-form-field>
      <button mat-raised-button (click)="login()" (onkeypress)="onKeyPress($event)" color="accent">Login</button>
      <button mat-raised-button routerLink="/register" color="accent">Register</button>
    </form>
  </mat-card>
</div>
