<h2>Login</h2>
<br>
<div>
  <form class="example-form">
    <md-form-field class="example-full-width">
      <input mdInput placeholder="User Name" [(ngModel)]="this.userLogin.username" name="inputUserName">
    </md-form-field>
    <md-form-field class="example-full-width">
      <input mdInput type="password" placeholder="Password" [(ngModel)]="this.userLogin.password" name="inputPassword">
    </md-form-field>
  </form>
  <button md-button (click)="login()">Click me, Senpai!</button>
  <md-card>{{token}}</md-card>
</div>
