.login-form {
  min-width: 150px;
  max-width: 500px;
  width: 80%;
  margin: 0 auto;
}

.example-full-width {
  width: 100%;
}

:host >>> .mat-snack-bar-container {
  margin-left: -1000px !important;
}
