<div style="padding-top: 20px; padding-bottom: 20px;">
  <mat-card class="register-form">
    <mat-card-header>
      <ngx-avatar mat-card-avatar size="40" src="{{activity?.clazz.teacher.avatar}}" initialsSize="1"
                  [routerLink]="['/profile', activity?.clazz.teacher.id]"
                  name="{{activity?.clazz.teacher.name}}"></ngx-avatar>
      <mat-card-title>{{activity?.title}}</mat-card-title>
      <mat-card-subtitle>Due {{activity?.dueDate | date: 'dd/MM/yyyy HH:mm' }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <h4 style="margin-top: 20px;">Activity Details</h4>
      <p [innerHTML]="activity?.detail | nl2br | linky"></p>
      <h4>Submissions from your students</h4>
      <mat-accordion *ngFor="let allsubs of allsubmissions">
        <mat-expansion-panel>
        <mat-expansion-panel-header>

        </mat-expansion-panel-header>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>
  </mat-card>
</div>
