<md-toolbar color="primary">
  <button md-icon-button (click)="toggleSidenav()">
    <md-icon class="md-24" aria-label="Menu">menu</md-icon>
  </button>
  <span class="space-left">The Dank Network</span>
  <span class="fill-space"></span>
  <button md-icon-button>
    <md-icon class="md-24" mdTooltip="Notifications" aria-label="Notifications">notifications</md-icon>
  </button>
</md-toolbar>
<md-sidenav-container class="content-container">
  <md-sidenav #sidenav class="sidenav-menu">
    <md-nav-list>
      <a md-list-item routerLink="/post"><md-icon>home</md-icon><span style="width: 20px;"></span>Home<span style="width: 20px;"></span></a>
      <a md-list-item href="#"><md-icon>person</md-icon><span style="width: 20px;"></span>Profile<span style="width: 20px;"></span></a>
      <a md-list-item href="#"><md-icon>home</md-icon><span style="width: 20px;"></span>Home<span style="width: 20px;"></span></a>
    </md-nav-list>
  </md-sidenav>
  <router-outlet></router-outlet>
</md-sidenav-container>
