<mat-toolbar color="primary">
  <button mat-icon-button (click)="toggleSidenav()">
    <mat-icon class="mat-24" aria-label="Menu">menu</mat-icon>
  </button>
  <span class="space-left">The Dank Network</span>
  <span class="fill-space"></span>
  <button mat-icon-button [matMenuTriggerFor]="notifications">
    <mat-icon class="mat-24" matTooltip="Notifications" aria-label="Notifications">notifications</mat-icon>
    <mat-menu #notifications="matMenu">
      <mat-card *ngFor="let notification of notificationsList" class="post-form">
        <mat-card-title>{{notification.fromUser.name}}</mat-card-title>
        <mat-card-subtitle>{{notification.message}}</mat-card-subtitle>
        <mat-card-subtitle>{{notification.date | timeAgo}}</mat-card-subtitle>
      </mat-card>
    </mat-menu>
  </button>
</mat-toolbar>
<mat-sidenav-container class="content-container">
  <mat-sidenav #sidenav class="sidenav-menu">
    <mat-nav-list>
      <a mat-list-item routerLink="/welcome"><mat-icon>home</mat-icon><span style="width: 20px;"></span>Home<span style="width: 20px;"></span></a>
      <a mat-list-item routerLink="/user"><mat-icon>person</mat-icon><span style="width: 20px;"></span>Profile<span style="width: 20px;"></span></a>
      <a mat-list-item routerLink="/people"><mat-icon>home</mat-icon><span style="width: 20px;"></span>People<span style="width: 20px;"></span></a>
      <a mat-list-item routerLink="/post"><mat-icon>person</mat-icon><span style="width: 20px;"></span>Posts<span style="width: 20px;"></span></a>
    </mat-nav-list>
  </mat-sidenav>
  <router-outlet></router-outlet>
</mat-sidenav-container>
