.everything {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.routerOutlet {
  height: 100%;
  flex: 1;
}

.notificationCircle {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f00;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 200px;
  color: white;
}

.post-form {
  /*width: 100%;*/
  margin: 0 auto;
}

.fill-space {
  flex: 1 1 auto;
}
.space-left {
  margin-left: 15px;
}
.content-container {
  height: 100%;
}
.sidenav-menu {
}

