<br>
<div>
  <md-card class="post-form">
    <h1>Post</h1>
    <form>
      <md-form-field class="example-full-width">
        <input mdInput required placeholder="Title" [(ngModel)]="this.postObj.title" name="inputTitle" #inputTitle="ngModel">
      </md-form-field>
      <md-form-field class="example-full-width">
        <input mdInput required placeholder="Description" [(ngModel)]="this.postObj.description" name="inputDescription" #inputDescription="ngModel">
      </md-form-field>
      <button md-raised-button (click)="post()" (onkeypress)="onKeyPress($event)" color="accent">Post</button>
      <a routerLink="/welcome">Welcome</a>
    </form>
  </md-card>

  <md-card *ngFor="let post of posts" class="post-form">
    <md-card-header>
      <div md-card-avatar class="example-header-image"></div>
      <md-card-title>{{post.title}}</md-card-title>
      <md-card-subtitle>04/10/2017</md-card-subtitle>
    </md-card-header>
    <md-card-content>{{post.description}}</md-card-content>
  </md-card>
</div>
