.post-form {
  min-width: 150px;
  max-width: 500px;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.imageUpload {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 auto;
}

.wrapper {
  position: relative;
  min-height: calc(100% - 56px);
  padding-bottom: 56px;
}

.posts {
  height: auto;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.postcard {
  margin: 10px;
  width: 80%;
  max-width: 400px;
  flex-direction: column;
  display: flex;
  position: relative;
  justify-content: flex-start;
  float: left;
}

.full-width {
  width: 100%;
}

.example-header-image {
  background-image: url('http://enadcity.org/enadcity/wp-content/uploads/2017/02/profile-pictures.png');
  background-size: cover;
}

.like {
  flex-direction: row;
  display: flex;
  justify-content: space-around;
}

.bottom {
  position: fixed;
  width: 100%;
  bottom: 0;
}

.mat-paginator {
  background: #eeeeee;
  width: 100%;
  padding: 0 0;
  bottom: 0;
  position: absolute;
}

