<div class="wrapper">
<div style="padding-top: 20px;">
  <mat-card class="post-form">
    <h1>Post</h1>
    <form>
      <mat-form-field class="full-width">
        <textarea matInput required placeholder="Description" [(ngModel)]="this.postObj.description" name="inputDescription" #inputDescription="ngModel"></textarea>
      </mat-form-field>
    </form>
    <button mat-raised-button [disabled]="inputDescription.invalid" (click)="post()" (onkeypress)="onKeyPress($event)" color="accent">Post</button>
    <button mat-raised-button routerLink="/welcome" color="accent">Welcome</button>
  </mat-card>
</div>

<div class="posts">
  <mat-card *ngFor="let post of posts" class="postcard">
    <mat-card-header>
      <ngx-avatar mat-card-avatar size="40" src="{{post.user.avatar}}" initialsSize="1" routerLink="/profile/{{post.user.id}}" name={{post.user.name}}></ngx-avatar>
      <mat-card-title>{{post.user.name}}</mat-card-title>
      <mat-card-subtitle>{{post.date | timeAgo }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content style="margin: 20px 0 20px 0" routerLink="/post/{{post.id}}">{{post.description}}</mat-card-content>
    <!--<div class="like">
      <h3>{{post.likeCount}}</h3>
      <button mat-raised-button >{{this.getLikeText(post)}}</button>
    </div>-->
    <mat-card-actions>
      <button (click)="this.toggleLike(post)" color="primary" mat-mini-fab>
        <mat-icon color="{{isLikedPost(post) ? 'accent' : 'white'}}" class="md-24" aria-label="Like">favorite</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>

<div class="mat-paginator">
  <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" [pageIndex]="pageIndex" (page)="pageEvent = $event; this.alterPage()"></mat-paginator>
</div>

<router-outlet></router-outlet>
</div>
