@import url(https://fonts.googleapis.com/css?family=Roboto:200,300,400);

@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);

@mixin circleShadow($vertical) {
  box-shadow:0 0 $vertical rgba(0,0,0,.14),0 $vertical $vertical*2 rgba(0,0,0,.28)
}

.apps {
  height: auto;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.wrapper {
  position: relative;
  min-height: calc(100% - 56px);
  padding-bottom: 56px;
}

.appcard {
  width: 20%;
  max-width: 200px;
  min-width: 150px;
  height: 220px;
  flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  position: relative;
  justify-content: flex-start;
  float: left;
}



.appimg {
  align-items: center;
  justify-content: center;
  display: flex;
  margin-bottom: 15px;
}

.appname {
  align-items: center;
  justify-content: center;
  display: flex;

}

.action {
  text-align: center;
  position: absolute;
  display: block;
  bottom: 10px;
  left: 0;
  right: 0;
}

.approve {
  bottom: 50px;
}

.uppercase {
  text-transform: uppercase;
}

.mat-paginator {
  background: #eeeeee;
  width: 100%;
  padding: 0 0;
  bottom: 0;
  position: absolute;
}

.FAB {
  position: absolute;
  bottom: 72px;
  right: 16px;
  width: 56px;

&__action-button,
&__mini-action-button{
   cursor: pointer;
   position: absolute;
 }

&__action-button {
   bottom: 0;
   right: 0;

&:hover {
.action-button__icon {
@include circleShadow(8px);
}
}
}

&__mini-action-button {
   bottom: 0;
   right: 49px;


 }


}

.action-button {
&__icon{
 @include circleShadow(4px);
   background-color: #ff4081;
   border-radius: 50%;
   color: #fff;
   padding: 16px;
 }

&__text {

&--hide {
   display: none;
 }

&--show {
   background-color: #212121;
   border-radius: 3px;
   color: #fff;
   right: 75px;
   font-size: 14px;
   font-family: "Helvetica Neue";
   opacity: .8;
   padding: 5px 9px;
   position: absolute;
   top: 2px;
   white-space: nowrap;
 }
}
}

.mini-action-button {

&__icon {
 @include circleShadow(4px);
   background-color: #536DFE;
   border-radius: 50%;
   color: #fff;
   padding: 8px;

&:hover {
 @include circleShadow(8px);
 }

}

&__text {

&--hide {
   display: none;
 }

&--show {
   background-color: #212121;
   border-radius: 3px;
   color: #fff;
   display: block;
   right: 60px;
   font-size: 14px;
   font-family: "Helvetica Neue";
   opacity: .8;
   padding: 5px 9px;
   position: absolute;
   top: -6px;
   white-space: nowrap;
 }
}

&--show {
   position: absolute;
   text-align: center;
 }

&--hide {
   display: none;
   opacity: 0;
 }
}

@for $i from 1 through 10 {
  .mini-action-button--show:nth-child(#{$i}) {
    bottom: 20px + 60px * $i;
  }
}


