<div style="padding-top: 20px;">
  <mat-card class="register-form">
    <h3>Quiz: {{this.quiz.title}}</h3>
    <h4 [innerHTML]="this.quiz.detail | nl2br | linky"></h4>
    <p *ngIf="!validDate()" style="text-align: center; color: #e54304; font-family: Roboto, sans-serif">Submissions not accepted anymore</p>
    <form *ngIf="validDate()">
      <div *ngFor="let problem of this.quiz.problems; let i = index;">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title><h5>Problem {{i + 1}}</h5></mat-panel-title>
              <mat-panel-description></mat-panel-description>
            </mat-expansion-panel-header>

            <h5 style="margin-bottom: 4px; margin-top: 0px;">Description</h5>
            <p style="margin-top: 0px" [innerHTML]="problem.description | nl2br | linky"></p>

            <div *ngIf="!problem.kind">
              <mat-form-field class="example-full-width">
                <textarea matInput required placeholder="Answer" [(ngModel)]="this.quizAnswer.answers[i].openAnswer" name="Answer {{i + 1}}"></textarea>
              </mat-form-field>
            </div>

            <div *ngIf="problem.kind">
              <div *ngFor="let alternative of problem.alternatives; let j = index;">
                <mat-form-field class="example-full-width">
                  <textarea matInput disabled required placeholder="Alternative {{j + 1}}" [(ngModel)]="alternative.description" name="{{i + 1}} Alternative {{j + 1}}"></textarea>
                </mat-form-field>
              </div>

              <mat-radio-group (change)="changeChoiceId(this.quizAnswer.answers[i], problem.alternatives)" [(ngModel)]="this.quizAnswer.answers[i].choice" [ngModelOptions]="{standalone: true}">
                Answer:
                <div *ngFor="let alternative of problem.alternatives; let j = index;" style="display: inline;">
                  <mat-radio-button value='{{j+1}}'>{{j + 1}}</mat-radio-button>&nbsp;
                </div>
              </mat-radio-group>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>

      <br>
      <br>

      <button mat-raised-button [disabled]="!validProblems()" (click)="this.submit()" (onkeypress)="onKeyPress($event)" color="accent">Submit</button>

    </form>
  </mat-card>
</div>
