.edit-form {
  min-width: 150px;
  max-width: 500px;
  width: 80%;
  margin: 0 auto;
}

.example-full-width {
  width: 100%;
}

.imageUpload {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 auto;
  align-items: center;
}

.authorities {
  height: auto;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
