<br>
<mat-card class="appcard">
  <div class="appimg">
      <ngx-avatar name="{{app.name}}" initialsSize="1" src="{{app.image}}" size="100">
      </ngx-avatar>
  </div>
  <mat-card-content class="appname">{{app.description}}</mat-card-content>
  <div class="appname">{{app.name}}</div>
  <div class="action">
    <button mat-raised-button (click)="accessApp(app)" color="accent">Access</button>
    <button mat-raised-button *ngIf="this.isAdmin()" [disabled]="app.approved" (click)="approveApp(app)" color="accent">Approve</button>
  </div>
</mat-card>
