.background {
  overflow: hidden;
  position: absolute;
  width: 80%;
  height: 100%;
  z-index: -1;
}

.appcard {
  width: 80%;
  max-width: 300px;
  min-width: 150px;
  height: 220px;
  flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  position: relative;
  justify-content: flex-start;
  margin-left: auto;
  margin-right: auto;
  z-index: 8;
}

.appimg {
  align-items: center;
  justify-content: center;
  display: inline-flex;
  margin-bottom: 15px;
}

.appname {
  align-items: center;
  justify-content: center;
  display: flex;

}

.action {
  text-align: center;
  position: absolute;
  display: block;
  bottom: 10px;
  left: 0;
  right: 0;
}

.imageUpload {
  text-align: center;
}
