<div style="width: 100%">
<ng-masonry-grid
  style="margin: 0 auto;"
  [masonryOptions]="{ addStatus: 'add',horizontalOrder: true, isFitWidth: true  }"
  >
  <ng-masonry-grid-item style="width: 300px" *ngFor="let item of streamItems; let i = index">
    <mat-card [routerLink]="[item.uri]" class="postcard grid-item">
      <mat-card-header>
        <ngx-avatar mat-card-avatar size="40" src="{{item.clazz.teacher.avatar}}" initialsSize="1" [routerLink]="['/profile', item.clazz.teacher.id]" name="{{item.clazz.teacher.name}}"></ngx-avatar>
        <mat-card-title>{{item.title}}</mat-card-title>
        <mat-card-subtitle>Due: {{item.dueDate | date: 'dd/MM/yyyy HH:mm' }}</mat-card-subtitle>
      </mat-card-header>
      <div class="fill">
        <mat-card-content *ngIf="item.evaluated" style="margin: 20px 0 20px 0">
          <mat-chip-list>
            <mat-chip>Grade: {{item.evaluation.grade}}%</mat-chip>
          </mat-chip-list>
        </mat-card-content>
        <mat-card-content style="margin: 20px 0 20px 0" [innerHTML]="item.detail | nl2br | linky"></mat-card-content>
      </div>
    </mat-card>
  </ng-masonry-grid-item>
</ng-masonry-grid>
</div>

<mat-toolbar  *ngxPermissionsOnly="['ROLE_TEACHER']" class="toobar">
  <mat-toolbar-row *ngIf="config && config[3].children[0].enabled">
    <button mat-fab  (click)="createQuiz()"  color="accent"><mat-icon>format_list_bulleted</mat-icon></button>
  </mat-toolbar-row>
  <mat-toolbar-row *ngIf="config && config[3].children[1].enabled">
    <button mat-fab (click)="createActivity()" color="accent"><mat-icon>attach_file</mat-icon></button>
  </mat-toolbar-row>
  <mat-toolbar-row *ngIf="config && (config[1].children[0].enabled || config[1].children[1].enabled)" >
    <button mat-fab [routerLink]="['/classes', classId, 'report']" color="accent"><mat-icon>bar_chart</mat-icon></button>
  </mat-toolbar-row>
</mat-toolbar>
