<ng-masonry-grid
  [masonryOptions]="{ addStatus: 'prepend',horizontalOrder: true, isFitWidth: true, percentPosition: true }"
  style="margin: 0 auto;">
  <ng-masonry-grid-item style="max-width: 400px" *ngFor="let activity of posts; let i = index">
    <mat-card [routerLink]="[activity.uri]" class="postcard grid-item">
      <mat-card-header>
        <ngx-avatar mat-card-avatar size="40" src="{{activity.clazz.teacher.avatar}}" initialsSize="1" routerLink="/profile/{{activity.clazz.teacher.id}}" name={{activity.clazz.teacher.name}}></ngx-avatar>
        <mat-card-title>{{activity.title}}</mat-card-title>
        <mat-card-subtitle>Prazo: {{activity.dueDate | date: 'dd/MM/yyyy HH:mm' }}</mat-card-subtitle>
      </mat-card-header>
      <div class="fill">
        <mat-card-content style="margin: 20px 0 20px 0" [innerHTML]="activity.detail | nl2br | linky"></mat-card-content>
      </div>
    </mat-card>
  </ng-masonry-grid-item>
</ng-masonry-grid>
<section class="FAB">
  <div routerLink="../create" class="FAB__action-button">
    <i class="action-button__icon material-icons">add</i>
    <p class="action-button__text--hide">Add Activity</p>
  </div>
</section>
<router-outlet></router-outlet>
