<div style="padding-top: 20px;">
  <mat-card class="register-form">
    <h3>Create Quiz</h3>
    <form>
      <mat-form-field class="example-full-width">
        <input matInput required placeholder="Title" [(ngModel)]="quiz.title" name="inputTitle" #inputTitle="ngModel">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <textarea matInput required placeholder="Detail" [(ngModel)]="quiz.detail" name="inputDetail" #inputDetail="ngModel"></textarea>
      </mat-form-field>

      <div style="display: flex; flex-direction: column">
        <mat-form-field style="width: 80%;">
          <input matInput required [matDatepicker]="picker" placeholder="Choose a due date" [(ngModel)]="quiz.dueDate" name="inputDueDate" #inputDueDate="ngModel">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <div *ngFor="let problem of this.quiz.problems; index as i">
        <mat-card>
          <h4>Problem {{i + 1}}</h4>
          <mat-slide-toggle [(ngModel)]="problem.kind" name="Problem {{i + 1}} kind">Enable multiple choices</mat-slide-toggle>
          <mat-form-field class="example-full-width">
            <textarea matInput required placeholder="Description" [(ngModel)]="problem.description" name="Problem {{i + 1}} description"></textarea>
          </mat-form-field>

          <div *ngIf="problem.kind">
            <div *ngFor="let alternativeDescription of problem.alternativeDescription; index as j">
              <mat-form-field class="example-full-width">
                <input matInput required placeholder="Alternative {{j + 1}}" [(ngModel)]="problem.alternativeDescription[j]" name="Alternative {{j + 1}}">
              </mat-form-field>
              <button mat-mini-fab (click)="removeAlternative(problem, j)" name="rem {{j + 1}}"><mat-icon>remove</mat-icon></button>
            </div>
            <mat-chip-list><mat-chip (click)="addAlternative(problem)" color="accent" selected="true">Alternative<mat-icon>add</mat-icon></mat-chip></mat-chip-list>
          </div>

        </mat-card>
      </div>

      <br>
        <mat-chip-list><mat-chip (click)="createProblem()" color="accent" selected="true">Problem<mat-icon>add</mat-icon></mat-chip></mat-chip-list>
      <br>

      <button mat-raised-button [disabled]="inputTitle.invalid || inputDetail.invalid || inputDueDate.invalid || !validProblems()" (click)="this.create()" (onkeypress)="onKeyPress($event)" color="accent">Create</button>

    </form>
  </mat-card>
</div>
