<br>
<div>
  <mat-card class="register-form">
    <h3>Register</h3>
    <form>
      <mat-form-field class="example-full-width">
        <input matInput required placeholder="Name" [(ngModel)]="this.userRegister.name" name="inputName" #inputName="ngModel">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput required placeholder="User Name" [(ngModel)]="this.userRegister.username" name="inputUserName" #inputUserName="ngModel">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput required type="password" placeholder="Password" [(ngModel)]="this.userRegister.password" name="inputPassword" #inputPassword="ngModel">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput required [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="this.userRegister.bornDate" name="inputBornDate" #inputBornDate="ngModel">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput required type="email" placeholder="Email" [(ngModel)]="this.userRegister.email" name="inputEmail" #inputEmail="ngModel">
      </mat-form-field>
      <button mat-raised-button style="margin-right: 10px" [disabled]="inputName.invalid || inputUserName.invalid || inputPassword.invalid || inputBornDate.invalid || inputEmail.invalid" (click)="register()" (onkeypress)="onKeyPress($event)" color="accent">Register</button>
      <button mat-raised-button routerLink="/login" color="primary">Login</button>
    </form>
  </mat-card>
</div>
